::-webkit-scrollbar
    width: 10px
    height: 10px
::-webkit-scrollbar-button
    display: none
::-webkit-scrollbar-track
    display: none
::-webkit-scrollbar-track-piece
    background-color: #151515
::-webkit-scrollbar-thumb
    height: 50px
    background-color: #444444
    border-radius: 3px
::-webkit-scrollbar-corner
    background-color: #999
::-webkit-resizer
    background-color: #666
    
*
    box-sizing: border-box
    -webkit-tap-highlight-color: transparent
    &::selection
        background-color: #aeaeae
    
html, body
    padding: 0
    margin: 0
    color: #eeeeee
    background-color: #151515
    overflow-x: hidden
    +Regular
    &::selection
        background-color: #333333

h3
    font-weight: normal

section
    padding: 15px 0

.preloader
    display: contents

.preloader__img
    display: block
    position: fixed
    z-index: 99999
    width: 100%
    height: 100%
    background-position: center center
    background-repeat: no-repeat
    background-size: 96px

.background
    overflow: hidden
    background-repeat: no-repeat
    background-position: 50% 50%
    background-size: cover
    position: relative
    transform: translate3d(0px, 0px, 0px)
    color: #ffffff
    &::after
        content: ''
        position: absolute
        top: -1px
        bottom: -1px
        left: -1px
        right: -1px
        z-index: -1
        background-color: rgba(0, 0, 0, .75)

.double-block
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    width: 100%

.half-block
    width: calc(100% / 2 - 7.5px)

.block-title
    display: flex
    align-items: center
    justify-content: space-between
    text-transform: uppercase
    font-size: 26px
    position: relative
    margin: 0 0 15px 0
    padding: 0 0 8px 0
    &::after
        content: ''
        position: absolute
        right: 0
        left: 0
        bottom: 0
        width: 100%
        height: 1px
        background-color: #333333
    span
        padding: 5px 0
    a
        display: inline
        text-decoration: none
        font-size: 20px
        color: #333333
        text-transform: uppercase
        padding: 8px
        border: 1px solid #333333
        transition: color .15s ease, border-color .15s ease
        +Bold
        &:hover
            color: #eeeeee
            border-color: #eeeeee

.block
    margin-top: 15px
    &:first-child
        margin-top: 0

@media (max-width: 1600px)
    ::-webkit-scrollbar
        width: 7px
        height: 7px
    .preloader__img
        background-size: 64px
    .block-title
        font-size: 18px
        margin: 0 0 15px 0
        a
            font-size: 12px

@media (max-width: 992px)
    .half-block
        width: 100%
        &:first-child
            margin-top: 15px
    .double-block
        flex-wrap: wrap-reverse