::-webkit-scrollbar
    width: 10px
    height: 10px
::-webkit-scrollbar-button
    display: none
::-webkit-scrollbar-track
    display: none
::-webkit-scrollbar-track-piece
    background-color: #151515
::-webkit-scrollbar-thumb
    height: 50px
    background-color: #444444
    border-radius: 3px
::-webkit-scrollbar-corner
    background-color: #999
::-webkit-resizer
    background-color: #666
    
*
    box-sizing: border-box
    -webkit-tap-highlight-color: transparent
    &::selection
        background-color: #aeaeae

html, body
    padding: 0
    margin: 0
    color: #eeeeee
    background-color: rgba(0, 0, 0, .1)
    overflow-x: hidden
    +Regular
    &::selection
        background-color: #333333

body
    display: flex
    flex-direction: column
    height: 100%
    position: relative
    background: linear-gradient(rgba(20,20,20,0.92), rgba(20,20,20,0.92)), url('../img/backgrounds/body.webp')
    background-attachment: fixed
    background-repeat: no-repeat
    background-size: cover
    background-position: top center
    &::before
        content: ''
        right: 0
        bottom: 0
        top: 0
        left: 0
        
        position: absolute

h3
    font-weight: normal

section
    padding: 15px 0
    flex: 1 0 auto

.preloader
    display: contents

.preloader__img
    display: block
    position: fixed
    z-index: 99999
    width: 100%
    height: 100%
    background-position: center center
    background-repeat: no-repeat
    background-size: 96px

.background
    overflow: hidden
    background-repeat: no-repeat
    background-position: 50% 50%
    background-size: cover
    position: relative
    transform: translate3d(0px, 0px, 0px)
    color: #ffffff
    transition: background-color .15s ease
    &::after
        content: ''
        position: absolute
        top: -1px
        bottom: -1px
        left: -1px
        right: -1px
        z-index: -1
        background-color: rgba(0, 0, 0, .75)

.double-block
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    width: 100%

.half-block
    width: calc(100% / 2 - 7.5px)

.third-block
    width: calc(100% / 3 - 7.5px)

.two-thirds-block
    width: calc(100% / 3 * 2 - 7.5px)

.block-title
    display: flex
    align-items: center
    justify-content: space-between
    text-transform: uppercase
    font-size: 26px
    position: relative
    margin: 0 0 15px 0
    padding: 0 0 8px 0
    &::after
        content: ''
        position: absolute
        right: 0
        left: 0
        bottom: 0
        width: 100%
        height: 1px
        background-color: #333333
    span
        padding: 5px 0
    a
        display: inline
        text-decoration: none
        font-size: 20px
        color: #555555
        text-transform: uppercase
        padding: 8px
        border: 1px solid #555555
        transition: color .15s ease, border-color .15s ease
        +Bold
        &:hover
            color: #eeeeee
            border-color: #eeeeee

.block
    margin-top: 15px
    &:first-child
        margin-top: 0

.pagination
    margin-top: 15px
    display: flex
    justify-content: center
    a
        display: flex
        justify-content: center
        align-items: center
        width: 60px
        height: 60px
        text-decoration: none
        margin-right: 10px
        color: #eeeeee
        font-size: 24px
        +Medium
        outline: 1px solid #333333
        transition: outline .15s ease
        &:hover
            outline: 1px solid #666666
        &.current
            outline: 1px solid #666666
            background-color: rgba(245,245,245,0.1)
            cursor: default
        &.disabled
            opacity: .5
        &:last-child
            margin-right: 0

.block-text
    font-size: 24px
    margin-top: 10px
    box-shadow: 0 5px 15px rgba(0,0,0,.1)
    line-height: 1.5
    padding: 15px
    background-color: rgba(0, 0, 0, .1)
    border: 1px solid #252525
    transition: background-color .15s ease
    &:first-child
        margin-top: 0
    &:hover
        background-color: rgba(245, 245, 245, .01)

@media (max-width: 1600px)
    ::-webkit-scrollbar
        width: 7px
        height: 7px
    .preloader__img
        background-size: 64px
    .block-title
        font-size: 18px
        margin: 0 0 15px 0
        a
            font-size: 12px
    .pagination a
        width: 40px
        height: 40px
        margin-right: 5px
        font-size: 16px
    .block-text
        font-size: 16px

@media (max-width: 992px)
    .half-block, .third-block, .two-thirds-block
        width: 100%
    .half-block
        &:first-child
            margin-top: 15px
    .double-block
        &.reverse
            flex-wrap: wrap-reverse
            .half-block:first-child, .third-block:first-child, .two-thirds-block:first-child
                margin-top: 15px
        &.not-reverse
            flex-wrap: wrap
            .half-block:last-child, .third-block:last-child, .two-thirds-block:last-child
                margin-top: 15px

@media (max-width: 768px)
    body
        background: #151515