@media (max-width: 1600px)
    .header
        &__menu
            height: 72px
        &__logo__img
            margin-top: -8px
            height: 48px
        &__link
            padding: 25px
            font-size: 18px
            i
                font-size: 16px
                margin-left: 5px
        &__links__ul li #submenu a
            padding: 10px
            font-size: 18px
        &__welcome
            &__title
                font-size: 32px
            &__text
                font-size: 18px
                margin: 20px 0 30px 0
            &__link
                font-size: 20px
                padding: 15px 20px
        &__down-button
            padding-bottom: 20px
            a
                padding-top: 20px
                font-size: 24px
    
@media (max-width: 1200px)
    .header
        &__link
            padding: 25px 10px

@media (max-width: 992px)
    .header
        &__menu
            height: 64px
        &__links
            display: none
        &__menu-btn-wrap
            display: flex
        &__logo
            justify-content: flex-end
            &__img
                margin-top: -4px
        &__welcome__text
            padding: 0 20px

@media (max-width: 576px)
    .header
        &__menu-btn i
            font-size: 20px
        &__mobile-link
            font-size: 16px
            i
                margin-right: 5px
        &__welcome
            &__title
                font-size: 24px
            &__text
                font-size: 16px
                margin: 10px 0 20px 0
            &__link
                font-size: 18px
        &__down-button a
            font-size: 20px