.footer
    margin: 75px 0 150px 0
    opacity: .7
    transition: opacity .15s ease
    &:hover
        opacity: 1
    &__content
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
    &__logo
        margin-bottom: 25px
        &__img
            height: 96px
    &__info
        font-size: 22px
        text-align: center
        p
            margin: 0
            a
                text-decoration: none
                color: #fda100
                border-bottom: 1px solid transparent
                transition: border-color .15s ease
                &:hover
                    border-color: #fda100